<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<% include ./partials/header %>
        <% include ./partials/nav %>
		<section>
			<div class="container">
                
			</div>
		</section>
        <div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
        <script src="/javascripts/scripts/product/model/main.js"></script>
		<script src="/javascripts/scripts/product/view/main.js"></script>
		<script src="/javascripts/scripts/product/controller/main.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>
	</footer>
</html>