<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
			<div class="right">
				<a class="active" href="/login">Log in</a>
				<a><img class='user-icon' onclick="window.location.href='/login'" src="/images/icon/login.png"></a>
			</div>
		</header>
		<section>
			<div class="container">
                <div class="box one center ground padding-10 margin-top-15">
                	<h2 class="box one padding-10">Catálogo de produtos</h2>
					<form id="product-catalog-filter-form" class="box one ground">
						<input type="hidden" name="location" value="product-catalog">
						<input type="text" name="code" class="btn-generic-big" placeholder="Cód" autocomplete="off">
						<input type="text" name="name" class="btn-generic-big" placeholder="Nome" autocomplete="off">
						<select name="color" class="btn-generic-big" name="color">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" class="btn-generic-big bold" value="Filtrar">
					</form>
				</div>
				<div id="product-catalog-filter-box" class="box one center hide">
					<div id="product-catalog-container" class="container"></div>
	        		<% include ./partials/carousel %>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./partials/footer %>
		<script src="/javascripts/scripts/product/model/main.js"></script>
		<script src="/javascripts/scripts/product/view/main.js"></script>
		<script src="/javascripts/scripts/product/controller/main.js"></script>
		<script src="/javascripts/scripts/product/controller/catalog.js"></script>

		<script src="/javascripts/scripts/product/controller/catalog.js"></script>
		<script src="/javascripts/scripts/product/view/catalog.js"></script>
	</footer>
</html>