<div name="carousel-navigation">
	<button name="carousel-previous" class="btn-pagination" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
    <span name="carousel-page"></span>
    <button name="carousel-next" class="btn-pagination" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
</div>