<header class="header-background fill">
	<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="favicon-image" src="/images/favicon/favicon-black.png"></div>
	<div class="right">
		<% if (user.access == 'adm') { %>
        	<a class="active" href="/admin">Admin</a>
        <% } %>
		<a class="active" href="/user">Perfil</a>
		<a class="active" onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
	</div>
</header>