<form id="product-feedstock-add-form" class="box-1">
	<fieldset class="fieldset-generic">
    	<legend>Adicionar Matéria-Prima</legend>
		<input type="hidden" name="id" value="">
		<input type="hidden" name="product_id">
		<select name="feedstock_id" class="btn-generic-info bold hide-disabled" onchange="Product.controller.feedstock.form.inputs(this)"></select>
		<br>
		<input type="hidden" name="feedstock_uom" value="">
		<input type="number" name="feedstock_amount" class="btn-generic-small price" step="1" placeholder="qtd" onfocus="if(this.value < 1){this.value=''}" onblur="if(this.value < 1){this.value=''}"/ disabled>
		<input type="number" name="feedstock_measure" class="btn-generic-small price" step="0.01" placeholder="cm" onfocus="if(this.value < 0.5){this.value=''}" onblur="if(this.value < 0.00){this.value=''}"/ disabled>
		<select name="feedstock_category_id" class="btn-generic-medium hide-disabled">
			<option value="0">Sem Categoria</option>
		</select>
		<br>
		<input type="submit" name="submit" class="btn-submit" value="Cadastrar">
  	</fieldset>
</form>