<form id="product-feedstock-category-create-form" class="box-1" style="display:none">
	<fieldset class="fieldset-generic">
		<legend>Nova Categoria</legend>
		<input type="hidden" name="id">
		<input type="hidden" name="product_id">
		<input type="text" name="category_name" class="btn-generic-big" placeholder="Nome da categoria" autocomplete="off">
		<input type="submit" name="submit" class="btn-submit" value="Cadastrar">
	</fieldset>
</form>