<html>
    <head>
        <% include ./../partials/head %>
    </head>
    <body>
        <% include ./../partials/header %>
        <section>
            <div class="container">
                <div class="box-1">
                    
                </div>
            </div>
        </section>
    </body>
    <footer>
        <% include ./../partials/footer %>
        </script>
    </footer>
</html>