<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
                    <h3 class="underline">Cadastrar Categoria de Receita</h3>
					<form id="income-category-create-form" class="box-1">
						<input type="hidden" name="category_id" value="0" autocomplete="off">
						<input type="text" class="btn-generic-medium" name="category_name" placeholder="Nome da categoria" autocomplete="off" maxlength="20">
						<input type="submit" class="btn-generic-small" id="income-category-create-submit" value="Cadastrar">
					</form>
	                <div id="income-category-filter-div" style="display:none">
						<form id="income-category-filter-form" class="box-1">
	                    	<h4 class="underline">Filtrar Categorias de Receita</h4>
							<input type="text" name="category_name" class="btn-generic-medium" placeholder="Nome da categoria" autocomplete="off">
							<input type="submit" class="btn-generic-small" id="income-category-filter-submit" value="Filtrar">
						</form>
						<div id="income-category-div">
							<table class="tbl-info box-1" id="income-category-tbl"></table>
							<br>
							<button id="incomeCategoryPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
		                    <span id="incomeCategoryPageNumber"></span>
		                    <button id="incomeCategoryNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
						</div>
	                </div>
	                <button class="btn-generic-medium" onclick="displayFinancialForms('income-category-filter-div', this)" id="displayIncomeCategoryBtn" autocomplete="off">Mostrar &dArr;&dArr;</button>
				</div>
				<div class="box-2">
                    <h3 class="underline">Origem da receita</h3>
					<form id="income-origin-create-form" class="box-1">
						<select class="btn-generic-medium" name="category_id" id="income-origin-create-select">
							<option value="0">Categoria</option>
							<% for(i in incomeCategories){ %>
								<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
							<% }%>
						</select>
						<input type="text" class="btn-generic-medium" name="origin_name" placeholder="Origem da receita" autocomplete="off" maxlength="20">
						<input type="submit" class="btn-generic-small" name="submit" value="Cadastrar">
					</form>
					<div id="income-origin-filter-div" style="display:none">
						<form id="income-origin-filter-form" class="box-1">
	                    	<h4 class="underline">Filtrar Origens de receita</h4>
	                    	<select class="btn-generic-medium" name="category_id" id="income-category-filter-select">
							    <option value="0">Categoria</option>
								<% for(i in incomeCategories){ %>
									<option value="<%= incomeCategories[i].id %>"><%= incomeCategories[i].name %></option>
								<% }%>
							</select>
							<input type="submit" class="btn-generic-small" id="income-origin-filter-submit" value="Filtrar">
						</form>
						<div id="income-origin-div">
							<table class="tbl-info box-1" id="income-origin-tbl"></table>
							<br>
							<button id="incomeOriginPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
		                    <span id="incomeOriginPageNumber"></span>
		                    <button id="incomeOriginNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
						</div>
					</div>
					<button class="btn-generic-medium" onclick="displayFinancialForms('income-origin-filter-div', this)" autocomplete="off">Mostrar &dArr;&dArr;</button>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>