<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box two ground padding-10 margin-top-15 center">
                    <h3 class="underline">Cadastrar Categoria de Despesa</h3>
					<form id="financial-outcome-category-create-form" class="box one">
						<input type="hidden" name="category_id" value="0" autocomplete="off">
						<input type="text" class="btn-generic-medium" name="category_name" placeholder="Nome da categoria" autocomplete="off" maxlength="20">
						<input type="submit" class="btn-generic-small" id="financial-outcome-category-create-submit" value="Cadastrar">
					</form>
	                <div id="financial-outcome-category-filter-div" style="display:none">
						<form id="financial-outcome-category-filter-form" class="box one">
	                    	<h4 class="underline">Filtrar Categorias de Despesa</h4>
							<input type="text" name="category_name" class="btn-generic-medium" placeholder="Nome da categoria" autocomplete="off">
							<input type="submit" class="btn-generic-small" id="financial-outcome-category-filter-submit" value="Filtrar">
						</form>
						<div id="financial-outcome-category-div">
							<table class="tbl-info width-fill" id="financial-outcome-category-tbl"></table>
							<br>
							<button id="outcomeCategoryPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
		                    <span id="outcomeCategoryPageNumber"></span>
		                    <button id="outcomeCategoryNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
						</div>
	                </div>
	                <button class="btn-generic-medium" onclick="displayFinancialForms('financial-outcome-category-filter-div', this)" id="displayOutcomeCategoryBtn" autocomplete="off">Mostrar &dArr;&dArr;</button>
				</div>

				<div class="box two ground padding-10 margin-top-15 center">
                    <h3 class="underline">Origem da despesa</h3>
					<form id="financial-outcome-origin-create-form" class="box one">
						<select class="btn-generic-medium" name="category_id" id="financial-outcome-origin-create-select">
							<option value="0">Categoria</option>
							<% for(i in outcomeCategories){ %>
								<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
							<% }%>
						</select>
						<input type="text" class="btn-generic-medium" name="origin_name" placeholder="Origem da Despesa" autocomplete="off" maxlength="20">
						<input type="submit" class="btn-generic-small" id="financial-outcome-origin-create-submit" value="Cadastrar">
					</form>
					<div id="financial-outcome-origin-filter-div" style="display:none">
						<form id="financial-outcome-origin-filter-form" class="box one">
	                    	<h4 class="underline">Filtrar Origens de Despesa</h4>
	                    	<select class="btn-generic-medium" name="category_id" id="financial-outcome-category-filter-select">
							    <option value="0">Categoria</option>
								<% for(i in outcomeCategories){ %>
									<option value="<%= outcomeCategories[i].id %>"><%= outcomeCategories[i].name %></option>
								<% }%>
							</select>
							<input type="submit" class="btn-generic-small" id="financial-outcome-origin-filter-submit" value="Filtrar">
						</form>
						<div id="financial-outcome-origin-div">
							<table class="tbl-info box one" id="financial-outcome-origin-tbl"></table>
							<br>
							<button id="outcomeOriginPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
		                    <span id="outcomeOriginPageNumber"></span>
		                    <button id="outcomeOriginNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button><br><br>
						</div>
					</div>
					<button class="btn-generic-medium" onclick="displayFinancialForms('financial-outcome-origin-filter-div', this)" autocomplete="off">Mostrar &dArr;&dArr;</button>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>