<!DOCTYPE html>
<html>
	<head>
        <% include ./../partials/head %>
        <script src="/javascripts/essentials/three.js"></script>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
	</body>
    <footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script src="/javascripts/scripts/product/model/molle.js"></script>
        <script src="/javascripts/scripts/product/controller/molle.js"></script>
	</footer>
</html>